<?xml version="1.0"?>

<configuration>
    <configSections>
        <sectionGroup name="businessObjects">
            <sectionGroup name="crystalReports">
                <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
            </sectionGroup>
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="Skin" value="Default" />
        <add key="ApplicationServerMode" value="Internal" />
        <add key="ApplicationMode" value="OnLine" />
        <add key="ActiveConnectionString" value="WEM_DSV" />
        <!--<add key="SourceRPTFiles" value="C:\Inetpub\wwwroot\scpjwebhomolog\Aut\Reports\Files\" />-->
        <add key="SourceRPTFiles" value="D:\VssRoot\SCPJ\Aut\Reports\Files\" />
        <add key="SourceImagesAnexo" value="D:\VssRoot\SCPJ\Skin\Default\Img\imagensAnexo\" />
        <!--<add key="SourceImagesAnexo" value="C:\Inetpub\wwwroot\scpjwebhomolog\Skin\Default\Img\imagensAnexo\" />-->
        <add key="PageSize" value="10" />
        <add key="SOFTWARES" value="22" />
        <add key="Modulo" value="A" />
        <add key="Logout" value="DefNet" />        
        <add key="CrystalImageCleaner-AutoStart" value="true" />
        <add key="CrystalImageCleaner-Sleep" value="60000" />
        <add key="CrystalImageCleaner-Age" value="120000" />
    </appSettings>
    <connectionStrings>
        <add name="WEM_DSV_LOCAL" providerName="Oracle" connectionString="data source=DESENVLOCAL; password=desenvlocal; user id=DESENVLOCAL"/>
        <add name="WEM_DSV" providerName="Oracle" connectionString="data source=DESENV2; password=DESENV; user id=DESENV; Pooling=False;"/>
        <add name="WEM_DSV_TESTE" providerName="Oracle" connectionString="data source=DESENVTESTE; password=desenvteste; user id=DESENVTESTE; Pooling=False;"/>
    </connectionStrings>
    <system.web>
        <!--
            Atualizado em 25.02.2012
            Motivo  : Habilitar Gravação de Campos do Editor HTML
         -->
        <httpRuntime requestValidationMode="2.0" maxRequestLength="32768"/>
        <sessionState timeout="240000"/>
        <!--<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="20"/>-->
        <compilation debug="true" defaultLanguage="c#" targetFramework="4.0">
            <assemblies>
                <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
                <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
                <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
                <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
                <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
                <!--<add assembly="Oracle.DataAccess, Version=10.1.0.400, Culture=neutral, PublicKeyToken=89B483F429C47342"/>-->
                <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
                <!--<add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>-->
                <add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
            </assemblies>
            <buildProviders>
                <add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
            </buildProviders>
        </compilation>
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
        <authentication mode="Windows"/>
        <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
        <httpModules>
            <!--<add name="CompressionModule" type="HttpUtils.CompressionModule, HttpUtils" />-->
        </httpModules>
        <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
        <httpHandlers>
            <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        </httpHandlers>
    </system.web>
    <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
    <system.webServer>
        <handlers>
            <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
        </handlers>
        <validation validateIntegratedModeConfiguration="false"/>
        <!--<urlCompression doDynamicCompression="true" doStaticCompression="true"/>-->
    </system.webServer>
    <businessObjects>
        <crystalReports>
            <rptBuildProvider>
                <add embedRptInResource="true"/>
            </rptBuildProvider>
        </crystalReports>
    </businessObjects>
</configuration>
